.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 0;
  height: 80px;
  pointer-events: none;
}

.Requester-name {
  color: black;
}

.App-link {
  color: black;
  position: absolute;
  bottom: 0;
}

.modal {
  position: absolute;
  display: block;
  border-color: burlywood;
  background-color: wheat;
  border-style: solid;
  border-radius: 5px;
  z-index: 6;
  width:30%;
  padding: 10px;
  left: 35%;
  top: 5%;
  margin: 0 auto;
}